body {
    background-color: rgb(255,255,255);
  }
  .blue {
    color: blue; 
    font-style: italic;
    font-weight: 0;
  }

  .red {
    color:red;
  }
  .remark{
    background-color: #E3F2FD;
      border: 2px solid green;
      padding: 3px;
      margin: 0px;
      line-height: 1.4;
    border-radius: 25px;
  }

  .worktodo{
    background-color: #ffb3d9;
    padding: 3px;
    margin: 10px;
    line-height: 1.4;
    border-radius: 20px;
  }

  a:hover {
    color: #6D4100;
    text-decoration: underline;
  }
  a.headerlink {
    color: #DDD;
    padding: 0 4px;
    text-decoration: none;
  }

  a.headerlink:hover {
    color: #444;
    background: #EAEAEA;
  }

  a.reference {
    text-decoration: none;
    border-bottom: 1px dotted #004B6B;
}

/* Don't put an underline on images */
a.image-reference, a.image-reference:hover {
    border-bottom: none;
}

a.reference:hover {
    border-bottom: 1px solid #6D4100;
}

a.footnote-reference {
    text-decoration: none;
    font-size: 0.7em;
    vertical-align: top;
    border-bottom: 1px dotted #004B6B;
}

a.footnote-reference:hover {
    border-bottom: 1px solid #6D4100;
}

a:hover tt, a:hover code {
    background: #EEE;
}

